#workspace{
  border: 3px solid #000000;
  background: #cccccc;
  padding:6px 10px;
  box-shadow: 13px 13px 8px #513ebd;
  
}
.title{
  font-size: large;
  font-style: italic;
}
html {
  min-height: 100%;
}
body{
  background: linear-gradient(#5e41ff, #7795d4);
}
.toolPanel{
  height:45px;
  display: inline-flex;
    width:920px;
  align-items:center;
  font-family: sans-serif;
}

.toolButton{
  padding:6px 10px;
  background-color: rgb(130, 106, 153);
  border: 3px solid rgb(87, 69, 104);
  border-style: groove;
  box-shadow: 13px 13px 8px  #513ebd;
}
.divider{
  width:10px;
  height:auto;
  display:inline-block;
}
.divider2{
  width:150px;
  height:auto;
  display:inline-block;
}
#pen-size::-webkit-slider-thumb{
  border-radius:5px;
 
}
